*{
    text-align: center;
    margin: 0;
    padding: auto;
}
body{
    background-color: rgb(197, 189, 189);
}
form{
    margin-top: 50px;
    margin-bottom: 40px;
}
#principal{
    display: flex;
    justify-content: center;
    gap: 65px;
}
#btn{
    border-radius: 10%;
    background-color: rgb(59, 229, 172);
}
#caja1{
    display: flex;
    justify-items: center;
    flex-direction: row;

}
input{
    width: 300px;
    height: 30px;
    margin-top: 30px;
}
button{
    height: 30px;
}
#total li{
    font-size: 20px;
    text-align: start;
}